.container{
    margin: auto;
    width: 50%;
    color: #fff;
}
.header{
    margin: auto;
    width: 40%;
}
section{
    width: 80%;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(44, 51, 88);
    height: 176px;
}
button{
    background-color: red;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    width: 100px;
    padding: 5px;
    margin-left: 120px;

}
form .form{
    padding: 9px;
}
input[type="text"]{
    width: 100px;
    float: right;
    clear: both;
}
.perc{
    color: #cd5c5c;
    font-weight: bold;
}
h1{
    color: #1f80c9;
    
}
